<?xml version="1.0"?>
<!--
/**
 * acl
 * @copyright Copyright © 2020 Orba. All rights reserved.
 * @author    info@orba.co
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Flat_Pickup::pickup" title="Pickups" sortOrder="10" />
            </resource>
        </resources>
    </acl>
</config>
