<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @copyright Copyright © 2020 Orba. All rights reserved.
 * @author    info@orba.co
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="flat_pickup" frontName="pickup">
            <module name="Flat_Pickup"/>
        </route>
    </router>
</config>
